
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }

  body {
    color: hsl(222.2 84% 4.9%);
    background: hsl(0 0% 100%);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .scroll-area {
    scrollbar-width: thin;
    scrollbar-color: hsl(215 16% 70%) transparent;
  }
  
  .scroll-area::-webkit-scrollbar {
    width: 6px;
  }
  
  .scroll-area::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scroll-area::-webkit-scrollbar-thumb {
    background-color: hsl(215 16% 70%);
    border-radius: 3px;
  }
}
